RABBITMQ_USER=your_user
RABBITMQ_PASS=your_password
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=crypto_pipeline
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_QUEUE=trades_raw
COINBASE_WS_URL=wss://advanced-trade-ws.coinbase.com
TRADING_PAIR=ETH-USD
POSTGRES_HOST=localhost
POSTGRES_PORT=5432